.deck-container > .slide {
  padding: 3rem 6rem;
  height: 100%;
}

example-host .sr-only {
  background-size: 1.5rem 1.5rem;
  background-image: conic-gradient(
    transparent 90deg,
    var(--ash-200) 90deg 180deg,
    transparent 180deg 270deg,
    var(--ash-200) 270deg
  );
  color: var(--ash-800);
  text-shadow: 0 0 7px var(--ash-100), 0 0 3px var(--ash-100),
    0 0 1px var(--ash-100);
}

example-host .material-icons,
example-host .no-underline {
  text-decoration: none;
}

/* Styles for slides */
p,
blockquote,
iframe,
img,
pre,
video {
  margin: 1.5rem 0;
}

blockquote {
  quotes: "\00AB""\00BB""\201E""\201C";
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
pre[class*="language-"],
pre.slide[class*="language-"] {
  margin-top: 5rem;
  min-width: 40%;
  width: -moz-fit-content;
  width: fit-content;
}

pre[class*="language-"] > code,
pre.slide[class*="language-"] > code {
  white-space: pre-wrap;
}

:not(li) > ul {
  margin: 5rem 0 1rem 0;
  list-style-position: inside;
}
li > ul {
  margin-top: 1rem;
}

:not(pre) > code {
  font-weight: 600;
  background: var(--ash-200);
  padding-inline: 0.2em;
  padding-block: 0.1em;
  border: 1px solid var(--ash-600);
  border-radius: 5px;
}

.example-section {
  background: var(--ash-200);
  border: 1px solid var(--ash-600);
  border-radius: 10px;
  padding: 1rem;
}
.example-section + .example-section {
  margin-top: 1rem;
}
.example-section p:last-child {
  margin-bottom: 0;
}

/* 
 * calc is not supported in media queries in Chrome, so making a guess.
 */
@media (min-width: 1400px) {
  .slide-content {
    height: 100%;
    columns: 2;
    column-gap: 5rem;
    column-fill: auto;
  }
  .slide-content > h2 {
    column-span: all;
  }
  .slide-content > * {
    break-inside: avoid;
  }
}
