:host {
  --cherry-300: hsl(12, 81%, 65%);
  --cherry-400: hsl(8, 78%, 56%);
  --cherry-500: hsl(9, 60%, 47%);

  --topdesk-blue: hsl(191, 100%, 34%);

  --aqua: hsl(177, 41%, 66%);
  --azure: hsl(186, 70%, 36%);

  --coral: hsl(12, 81%, 65%);
  --vermillion: hsl(8, 78%, 56%);

  --fern: hsl(152, 40%, 61%);
  --pine: hsl(172, 73%, 32%);

  --cantaloupe: hsl(27, 94%, 74%);
  --pumpkin: hsl(27, 80%, 66%);

  /* Variables for the rounded shapes */
  --shape-size: min(30vw, 30vh);

  --shape-color: var(--aqua);
  --shape-intersection-color: var(--azure);

  --shape-bottom: initial;
  --shape-left: initial;
  --shape-top: 0;
  --shape-right: 0;
}
:host([hidden]) {
  display: none;
}
:host([red]) {
  --shape-color: var(--coral);
  --shape-intersection-color: var(--vermillion);
}
:host([green]) {
  --shape-color: var(--fern);
  --shape-intersection-color: var(--pine);
}
:host([orange]) {
  --shape-color: var(--cantaloupe);
  --shape-intersection-color: var(--pumpkin);
}
:host([tl]) {
  --shape-bottom: initial;
  --shape-left: 0;
  --shape-top: 0;
  --shape-right: initial;
}
:host([br]) {
  --shape-bottom: 0;
  --shape-left: initial;
  --shape-top: initial;
  --shape-right: 0;
}
:host([bl]) {
  --shape-bottom: 0;
  --shape-left: 0;
  --shape-top: initial;
  --shape-right: initial;
}
:host([small]) .small-shape,
:host([small]) .large-shape::after,
:host([large]) .large-shape {
  display: block;
}
.small-shape {
  background: var(--shape-color);
}
.large-shape::after {
  content: "";
  background: var(--shape-intersection-color);
}
.small-shape,
.large-shape::after {
  display: none;
  position: absolute;

  width: var(--shape-size);
  height: var(--shape-size);

  top: var(--shape-top, auto);
  right: var(--shape-right, auto);
  bottom: var(--shape-bottom, auto);
  left: var(--shape-left, auto);
}
.large-shape {
  display: none;
  background: var(--topdesk-blue);
  overflow: hidden;

  position: absolute;

  width: calc(var(--shape-size) * 0.8);
  height: calc(var(--shape-size) * 2.4);

  top: var(--shape-top, auto);
  right: var(--shape-right, auto);
  bottom: var(--shape-bottom, auto);
  left: var(--shape-left, auto);
}
.large-shape,
:host(:not([large])) .small-shape {
  /* round the corner oppposite of the slide edge */
  border-top-left-radius: calc(
    var(--shape-top, 1) * var(--shape-left, 1) * var(--shape-size)
  );
  border-top-right-radius: calc(
    var(--shape-top, 1) * var(--shape-right, 1) * var(--shape-size)
  );
  border-bottom-right-radius: calc(
    var(--shape-bottom, 1) * var(--shape-right, 1) * var(--shape-size)
  );
  border-bottom-left-radius: calc(
    var(--shape-bottom, 1) * var(--shape-left, 1) * var(--shape-size)
  );
}
:host([large]) .small-shape,
:host([large]) .large-shape::after {
  /* shift the small shape a little */
  margin-left: calc(var(--shape-right, 1) * var(--shape-size) * 0.2);
  margin-right: calc(var(--shape-left, 1) * var(--shape-size) * 0.2);

  /* round the corner oppposite (horizontally) of the large shape */
  border-top-left-radius: calc(
    var(--shape-top, 1) * var(--shape-right, 1) * var(--shape-size)
  );
  border-top-right-radius: calc(
    var(--shape-top, 1) * var(--shape-left, 1) * var(--shape-size)
  );
  border-bottom-right-radius: calc(
    var(--shape-bottom, 1) * var(--shape-left, 1) * var(--shape-size)
  );
  border-bottom-left-radius: calc(
    var(--shape-bottom, 1) * var(--shape-right, 1) * var(--shape-size)
  );
}
